@mixin box-zing($cont:border-box){
    box-sizing: $cont;
}
@mixin border-radius($radius:(6rem/100)){
    border-radius:$radius;
}
@mixin text-align($align:center){
    text-align: $align;
}
@mixin tanslate($x,$y){
    transform: translate($x,$y);
}
%text-hide{
    text-overflow: ellipsis;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
}
%center{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
