@charset "UTF-8";
@import "_base";
@import "_mixins";
@import "_function";
.opg{
    .xin-goods-list{//列表
        font-size:pxTorem($article-normal);
        li{
            border-bottom: 1px  solid $border-color;
        }
    }
    .xin-goods-item{
        display: block;
        overflow: hidden;
        box-sizing: content-box;
        padding:pxTorem($list-pad);
        .xin-goods-picbox{//左侧图片区域
            width:pxTorem($pic-size);
            height:pxTorem($pic-size);
            margin-right:pxTorem($list-pad);
            img{
                width:100%;
                height:100%;
            }
            float: left;
        }
        .xin-goods-right{//右侧主要数据
            overflow: hidden;
            .goods-item-title{
                font-size:pxTorem($article-normal);
                line-height:pxTorem(34px);
                height:pxTorem(64px);
                font-weight:normal;
                color: $font-gray-deep;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin:pxTorem(10px) 0 pxTorem(20px);

            }
            .goods-item-num{
                font-size:pxTorem($caption-normal);
                height:pxTorem(32px);
                line-height:pxTorem(32px);
                color: $font-grey-normal;
            }
            .goods-item-price{
                height:pxTorem(36px);
                line-height:pxTorem(36px);
                margin-top:pxTorem(20px);
                span{
                    color: nth($main-color,1);
                    font-size:pxTorem(20px);
                }
                strong{
                    color: nth($main-color,1);
                    font-size:pxTorem($title-Subhead);
                }
                del{
                    color: $font-grey-normal;
                    font-size:pxTorem($caption-small);
                    margin-left:pxTorem(20px);
                }
            }
        }
    }
}